#section {
  background: var(--bg-color);
  border-top: 0.125rem solid var(--light-gray);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#section p {
  font-weight: var(--fw-base);
  color: var(--second-text-color);
}

.cards {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.content p {
  width: 80%;
  align-self: center;
}

.text {
  gap: 24px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 10rem;
}

@media (width >=1280px) {
  #section {
      background: var(--bg-color);
      border-top: none;
  height: 100vh;

      >span {
          position: absolute;
          top: 0;
      }

      >img {
          top: 0;
          height: 82%;
          padding-left: 55%;
      }
  }
}